body {
  color: #663300;
  background-color: #d9e6b3;
  font-family: arial;
  width: 600px;
  margin: auto;
}

h1 {
  font-family: "arial black";
  text-align: center;
}

a {
  text-decoration: none;
  color: #cc5200;
  font-size: 120%;
  font-weight: bold;
}

img {
  display: block;
  margin: auto;
}

.nav {
  text-align: center;
}

.nav a {
  margin: 2px;
  padding: 3px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}